body {
    padding-top: 3em;
    display: grid;
    justify-content: center;
    align-content: center;
}
#board {
    display: flex;
    border: 0;
    padding: 0;
}
div {
    border: solid 10px brown;
    padding: 1.25em;
}
.pits {
    /* background-image: url("https://www.pngkey.com/png/detail/101-1016484_end-of-day-marbles-transparent-background-transparent-marble.png");
    background-size: cover; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 

}

.marble-image {
    display: flex;
    flex-grow: 1; 
    width: 1rem;
    height: 1rem; 
    background-size: contain;
}

#p1Store, #pits-container, #p2Store {
    display: inline-block;
}
#pits-container {
    border: 0px;
    padding: 0;
}
#p2pits, #p1pits {
    display:flex;
    flex-direction: row;
    padding: 0;
    border: 0;
}
#p1UserName, #p2UserName {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0;
    font-size: 1.75em;
}
.indigo {
    background-image: url("indigo.png");
    border-radius: 5px;
}