body {
    padding-top: 3em;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #E1B58C;
}
#board {
    display: table;
    width: 100%;
    border: 0;
    padding: 0;
}
div {
    border: solid 10px #8b5e34;
    padding: 1.25em;
    justify-content: center;
    align-content: center;
}
#p1Store, #pits, #p2Store {
    display: table-cell;
    background-color: #ECDCB0;
}
#pits {
    border: 0px;
    padding: 0;
    display: table;
    table-layout: fixed;
}
.pits {
    display: table-cell;
    width: 16.66%;
}
#p2pits, #p1pits {
    display:flex;
    flex-direction: row;
    padding: 0;
    border: 0;

}
#p1UserName, #p2UserName {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0;
    font-size: 1.75em;
}
#turn {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    border: 2px solid black;
    background-color: #8FB9E0;
}
.indigo {
    border-radius: 5px;
    height: 5px;
    width: 5px;
}
#startGame {
    background-color: silver;
}
